<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.webkul.sociallogin">

    <application
        android:label="@string/app_name"
        android:supportsRtl="true">

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/facebook_scheme" />
            </intent-filter>
        </activity>

    </application>

</manifest>
